@import url(//db.onlinewebfonts.com/c/d14035f6b1afeabafbee4abb2ebf0fc6?family=COCOGOOSE);
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

body {
  overflow-x: hidden;
}

$title-font-family: "COCOGOOSE", sans-serif;
$text-font-family: 'Lato', sans-serif;
$orange: #ec5242;
$dark: #272a31;
$gray-border: rgb(228, 228, 228);

.nav-bar {
  position: absolute;
  padding: 3vw 5vw 5vw 5vw;
  left: 0;
  top: 0;

  .nav-desktop {
    display: none;
    font-family: $text-font-family;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 8vw;
    background-color: $dark;

    ul {
      list-style-type: none;

      li {
        a {
          text-decoration: none;
          color: white;
        }
      }
    }

    .close-button {
      color: white;
      font-size: 40px;
    }

    .upper-panel {
      display: flex;
      flex-wrap: wrap;
      gap: 3vw;
      justify-content: flex-end;
    }

    .nav-panel {
      display: flex;
      flex-direction: column;
      gap: 20px;
      li {
        img {
          display: none;
        }

        a {
          font-size: 35px;
        }
      }
    }
  }
}

.home-section {
  background: rgb(245, 245, 245);
  width: 100vw;
  height: auto;

  .large-circle {
    z-index: 1;
    position: absolute;
    left: 60%;
    top: 15%;
    width: 100px;
    height: 100px;
    background-image: url("../images/large-bg-cross.png");
    background-repeat: repeat;
    background-position: 0 0;
    background-size: 25% 25%;
    border-radius: 50%;
  }

  .red-circle {
    z-index: 1;
    position: absolute;
    left: 30%;
    top: 15%;
    width: 100px;
  }

  .silver-circle-1 {
    z-index: 1;
    position: absolute;
    left: 15%;
    top: 30%;
    width: 80px;
  }

  .silver-circle-2 {
    z-index: 1;
    position: absolute;
    left: 80%;
    top: 40%;
    width: 130px;
  }

  .home-section-content {
    width: 100%;
    height: 100%;
    background-color: rgba(247, 247, 247, 0.822);
    padding: 22vw 5vw 15vw 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;

    h1 {
      z-index: 2;
      font-size: 28px;
      line-height: 35px;
      text-align: center;
      font-family: $title-font-family;
    }

    hr {
      display: none;
    }
  
    h1,
    .greeting {
      color: $orange;
    }
  
    p {
      font-family: $text-font-family;
      text-align: center;
    }
  
    .description {
      z-index: 2;
      background-color: white;
      border: 1px solid $gray-border;
      padding: 4%;
      font-size: 13px;

      span {
        display: none;
      }
    }

    .contact {
      font-size: 13px;
      a {
        color: black;
      }
    }
  }
}

@mixin title() {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vw;

  hr {
    width: 10%;
    border-color: $orange;
  }
}

.logo-section {
  width: 100vw;
  padding: 10vw 5vw;
  font-family: $text-font-family;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7vw;
  border-bottom: 1px solid $gray-border;
  
  .logo-title {
    @include title;
  }

  p {
    font-size: 13px;
    width: 87%;

    span {
      display: none;
    }
  }

  img {
    width: 100%;
    border: 1px solid $gray-border;
  }
}

.past-events-section {
  width: 100vw;
  padding: 10vw;
  font-family: $text-font-family;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7vw;

  .past-events-title {
    @include title;
    width: 90%;
  }

  #event-2013 {
    background-image: url("../images/past-event-1.jpeg");
  }

  #event-2011 {
    background-image: url("../images/past-event-2.jpeg");
  }

  .picture-past {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;
    width: 100%;
    height: 35vw;
    text-decoration: none;
    color: #fff;

    div {
      background-color: rgba(165, 42, 42, 0.692);
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;

      .event-year {
        font-size: 25px;
        font-weight: bold;
      }

      .event-description {
        font-size: 13px;
      }
    }
  }
}

.partners-section {
  width: 100vw;
  padding: 10vw;
  font-family: $text-font-family;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7vw;

  background-color: rgb(88, 88, 88);


  .partners-title {
    @include title;
    width: auto;
    color: white;

    hr {
      width: 40%;
    }
  }

  .logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 5%;
    row-gap: 20px;
    img {
      width: 30%;
      height:fit-content;
    }
  }
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5vw;
  font-family: $text-font-family;

  img {
    width: 100%;
    align-self: center;
  }

  p {
    font-size: 10px;
    justify-self: center;
    align-self: center;

    span {
      display: none;
    }
  }
}


@media (min-width: 768px) {
  .nav-bar {
    display: block;
    font-family: $text-font-family;
    padding: 0;
    width: 100vw;
    font-size: 12px;

    .close-button {
      display: none;
    }

    .nav-mobile {
      display: none;
    }

    .nav-desktop {
      display: block;
      font-family: $text-font-family;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: auto;
      padding: 0;


      .small-logo {
        height: 50px;
        display: inline-block;
      }

      ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        width: 100%;

        li {
          a {
            text-decoration: none;
          }
        }
      }

      .upper-panel {
        background: linear-gradient(rgb(54, 54, 54), rgb(80, 80, 80));
        padding-right: 12vw;
        justify-content: flex-end;
        gap: 1.5vw;
        padding-top: 0.5vw;
        padding-bottom: 0.5vw;

        li {
          a {
            color: white;
          }
        }
        
      }

      .nav-panel {
        flex-direction: row;
        background-color: white;
        padding-right: 12vw;
        padding-left: 12vw;
        justify-content: space-between;
        align-items: center;

        li {
          img {
            display: inline-block;
            margin-right: 15vw;
          }

          a {
            color: black;
            font-size: 15px;
          }
        }

        li:nth-child(2) {
          a {
            color: $orange;
          }
        }

        li:last-child {
          min-width: 115px;
          a {
            border: 4px solid $orange;
            padding: 0.6vw;
            color: $orange;
          }
        }
      }
    }
  }

  .home-section {  
    .home-section-content {
      padding: 15vw 15vw 8vw 15vw;
      gap: 3vw;

      h1 {
        font-size: 55px;
        line-height: 60px;
      }

      hr {
        display: block;
        border: 1px solid $orange;
        width: 2vw;
      }
    
      .greeting {
        display: none;
      }
    
      .description {
        padding: 2vw 4vw;
        font-size: 16px;

        span {
          display: initial;
        }
      }
  
      .contact {
        font-size: 16px;
        a {
          color: black;
          font-weight: bold;
        }
      }
    }
  }

  .logo-section {
    padding: 5vw 10vw;
    gap: 4vw;
    
    .logo-title {
      @include title;
      gap: 1vw;

      hr {
        width: 2vw;
      }
    }
  
    p {
      font-size: 16px;
      width:  auto;

      span {
        display: initial;
      }
    }
  
    img {
      width: 55%;
    }
  }

  .past-events-section {
    padding: 5vw 20vw;
    row-gap: 4vw;
    column-gap: 1vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
  
    .past-events-title {
      grid-column-start: 1;
      grid-column-end: 3;
      @include title;
      width: auto;

      gap: 1vw;

      hr {
        width: 2vw;
      }
    }

    p {
      grid-column-start: 1;
      grid-column-end: 3;
      font-size: 16px;
    }
  
    .picture-past {
      height: 190px;
      text-decoration: none;
      color: #fff;
  
      div {
        .event-year {
          font-size: 28px;
        }
  
        .event-description {
          font-size: 16px;
        }
      }
    }
  }

  .partners-section {
    display: none;
  }

  footer {
    padding: 5vw 12vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3vw;
    background-color: $dark;

    img {
      height: fit-content;
      width: 30%;
    }

    p {
      font-size: 13px;
      color: white;

      span {
        display: initial;
      }
    }
  }
}