
@import url(//db.onlinewebfonts.com/c/d14035f6b1afeabafbee4abb2ebf0fc6?family=COCOGOOSE);
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

$bg-image: url("../images/clouds.jpeg");
$title-font-family: "COCOGOOSE", sans-serif;
$text-font-family: 'Lato', sans-serif;
$orange: #ec5242;
$dark: #272a31;

.nav-bar {
  position: absolute;
  padding: 3vw 5vw 5vw 5vw;
  left: 0;
  top: 0;

  .nav-desktop {
    display: none;
    font-family: $text-font-family;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 8vw;
    background-color: $dark;

    ul {
      list-style-type: none;

      li {
        a {
          text-decoration: none;
          color: white;
        }
      }
    }

    .close-button {
      color: white;
      font-size: 40px;
    }

    .upper-panel {
      display: flex;
      flex-wrap: wrap;
      gap: 3vw;
      justify-content: flex-end;
    }

    .nav-panel {
      display: flex;
      flex-direction: column;
      gap: 20px;
      li {
        img {
          display: none;
        }

        a {
          font-size: 35px;
        }
      }
    }
  }
}

.home-section {
  background-image: $bg-image;
  background-repeat: repeat;
  background-position: 0 0;
  background-size: 100% auto;
  width: 100vw;
  height: auto;

  .home-section-content {
    width: 100%;
    height: 100%;
    background-color: rgba(247, 247, 247, 0.822);
    padding: 22vw 5vw 15vw 5vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;

    h1 {
      font-size: 30px;
      line-height: 35px;
      background-image: url("../images/red-background-for-text.jpeg");
      background-size: cover;
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }
  
    h1,
    .period {
      font-family: $title-font-family;
    }

    .period {
      font-size: 22px;
    }
  
    .greeting {
      color: $orange;
    }
  
    p {
      font-family: $text-font-family;
    }
  
    .description {
      background-color: rgb(241, 241, 241);
      border: 2px solid white;
      padding: 4%;
      font-size: 13px;
    }

    .location {
      font-size: 14px;
    }
  }
}

.program-section {
  background-color: $dark;
  display: flex;
  flex-direction: column;
  gap: 5vw;
  padding: 10vw 5vw;
  align-items: center;

  h2 {
    font-family: $text-font-family;
    font-size: 18px;
    color: white;
  }

  hr {
    border-color: $orange;
    width: 10%;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 5vw;
    width: 100%;
    li {
      font-family: $text-font-family;
      display: flex;
      padding: 3vw;
      background-color: rgba(255, 255, 255, 0.123);
      gap: 2vw;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      
      .program-image {
        min-width: 50px;
        max-width: 50px;
        height: 50px;
        background-color: gray;
      }

      h3 {
        color: $orange;
        max-width: 30%;
        min-width: 30%;
      }

      p {
        color: white;
        font-size: 13px;
      }
    }
  }

  #join {
    color: white;
    background-color: $orange;
    width: 65vw;
    height: 15vw;
    font-family: $text-font-family;
    font-size: 15px;
    border-radius: none;
    border: none;
  }
}

.participants-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vw 5vw;
  gap: 10vw;
  font-family: $text-font-family;

  .participants-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vw;
  }

  hr {
    border-color: $orange;
    width: 10%;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 5vw;
    li {
      display: grid;
      grid-template-areas: 
        'image name'
        'image profession'
        'image hr'
        'image description';
      grid-column-gap: 5vw;
      grid-row-gap: 1vw;

      .participant-image {
        grid-area: image;
        background-color: cadetblue;
        height: 80px;
        min-width: 80px;
        max-width: 80px;
      }

      .profession {
        grid-area: profession;
        color: $orange;
        font-size: 11px;
      }

      hr {
        border-color: gray;
        grid-area: hr;
        width: 5vw;
      }

      .description {
        grid-area: description;
        font-size: 10px;
      }
      
    }
  }

  .more {
    width: 100%;
    height: 10vw;
    background-color: white;
    border: 1px solid gray;

    i {
      color: $orange;
    }
  }
}


@media (min-width: 768px) {
  .nav-bar {
    display: block;
    font-family: $text-font-family;
    padding: 0;
    width: 100vw;
    font-size: 12px;

    .close-button {
      display: none;
    }

    .nav-mobile {
      display: none;
    }

    .nav-desktop {
      display: block;
      font-family: $text-font-family;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: auto;
      padding: 0;


      .small-logo {
        height: 50px;
        display: inline-block;
      }

      ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        width: 100%;

        li {
          a {
            text-decoration: none;
          }
        }
      }

      .upper-panel {
        background: linear-gradient(rgb(54, 54, 54), rgb(80, 80, 80));
        padding-right: 12vw;
        justify-content: flex-end;
        gap: 1.5vw;
        padding-top: 0.5vw;
        padding-bottom: 0.5vw;

        li {
          a {
            color: white;
          }
        }
        
      }

      .nav-panel {
        flex-direction: row;
        background-color: white;
        padding-right: 12vw;
        padding-left: 12vw;
        justify-content: space-between;
        align-items: center;

        li {
          img {
            display: inline-block;
            margin-right: 15vw;
          }

          a {
            color: black;
            font-size: 15px;
          }
        }

        li:nth-child(2) {
          a {
            color: $orange;
          }
        }

        li:last-child {
          min-width: 115px;
          a {
            border: 4px solid $orange;
            padding: 0.6vw;
            color: $orange;
          }
        }
      }
    }
  }

  .home-section {
    .home-section-content {
      padding: 12vw;
      padding-top: 14vw;
      .greeting {
        font-size: 50px;
      }
  
      h1 {
        font-size: 70px;
        line-height: 80px;
      }

      .description {
        width: 50vw;
        padding: 2vw;
        font-size: 15px;
      }

      .period {
        font-size: 35px;
      }

      .location {
        font-size: 23px;
      }
    }
  }
  
}