
@import url(//db.onlinewebfonts.com/c/d14035f6b1afeabafbee4abb2ebf0fc6?family=COCOGOOSE);
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

body {
  overflow-x: hidden;
}

$bg-image: url("../images/clouds.jpeg");
$title-font-family: "COCOGOOSE", sans-serif;
$text-font-family: 'Lato', sans-serif;
$orange: #ec5242;
$dark: #272a31;
$small-title-desktop-font-size: 30px;
$gray-border: rgb(228, 228, 228);


.nav-bar {
  z-index: 333;
  position: absolute;
  padding: 3vw 5vw 5vw 5vw;
  left: 0;
  top: 0;

  .nav-desktop {
    display: none;
    font-family: $text-font-family;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 8vw;
    background-color: $dark;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    ul {
      list-style-type: none;

      li {
        a {
          text-decoration: none;
          color: white;
        }
      }
    }

    .close-button {
      color: white;
      font-size: 40px;
    }

    .upper-panel {
      display: flex;
      flex-wrap: wrap;
      gap: 3vw;
      justify-content: flex-end;
    }

    .nav-panel {
      display: flex;
      flex-direction: column;
      gap: 20px;
      li {
        img {
          display: none;
        }

        a {
          font-size: 35px;
        }
      }
    }
  }
}

.home-section {
  z-index: 1;
  position: relative;
  background-image: $bg-image;
  background-repeat: repeat;
  background-position: 0 0;
  background-size: 100% auto;
  width: 100vw;
  height: auto;

  .large-circle {
    z-index: 3;
    position: absolute;
    left: 60%;
    top: 15%;
    width: 100px;
    height: 100px;
    background-image: url("../images/large-bg-cross.png");
    background-repeat: repeat;
    background-position: 0 0;
    background-size: 25% 25%;
    border-radius: 50%;
  }

  .zero {
    z-index: 2;
    position: absolute;
    right: 5%;
    top: 30%;
  }

  .money {
    z-index: 3;
    position: absolute;
    left: 5%;
    bottom: 35%;
    width: 60px;
  }

  .chess-plane {
    z-index: 3;
    position: absolute;
    right: 10%;
    top: 60%;
    width: 120px;
  }

  .cross {
    z-index: 3;
    position: absolute;
    right: 3%;
    top: 50%;
    width: 80px;
  }

  .home-section-content {
    width: 100%;
    height: 100%;
    background-color: rgba(247, 247, 247, 0.822);
    padding: 22vw 5vw 15vw 5vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;

    h1 {
      z-index: 4;
      font-size: 30px;
      line-height: 35px;
      background-image: url("../images/red-background-for-text.jpeg");
      background-size: cover;
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }
  
    h1,
    .period {
      font-family: $title-font-family;
    }

    .period {
      z-index: 4;
      font-size: 22px;
    }
  
    .greeting {
      z-index: 4;
      color: $orange;
    }
  
    p {
      font-family: $text-font-family;
    }
  
    .description {
      z-index: 4;
      background-color: rgb(241, 241, 241);
      border: 2px solid white;
      padding: 4%;
      font-size: 13px;
    }

    .location {
      z-index: 4;
      font-size: 14px;
    }
  }
}

.program-section {
  background-color: $dark;
  display: flex;
  flex-direction: column;
  gap: 5vw;
  padding: 10vw 5vw;
  align-items: center;

  .program-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vw;

    h2 {
      font-family: $text-font-family;
      font-size: 18px;
      color: white;
    }
  
    hr {
      border-color: $orange;
      width: 3vw;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 5vw;
    width: 100%;
    li {
      font-family: $text-font-family;
      display: flex;
      padding: 3vw;
      background-color: rgba(255, 255, 255, 0.123);
      gap: 2vw;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      
      .program-image {
        min-width: 50px;
        max-width: 50px;
        height: 50px;
        // background-color: gray;
      }

      h3 {
        color: $orange;
        max-width: 20%;
        min-width: 20%;
      }

      p {
        color: white;
        font-size: 13px;
      }
    }
  }

  #join {
    color: white;
    background-color: $orange;
    width: 65vw;
    height: 15vw;
    font-family: $text-font-family;
    font-size: 15px;
    border-radius: none;
    border: none;
  }

  .see-whole {
    display: none;
  }
}

.participants-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vw 5vw;
  gap: 10vw;
  font-family: $text-font-family;

  .participants-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vw;
  }

  hr {
    border-color: $orange;
    width: 10%;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 5vw;
    li {
      display: grid;
      grid-template-areas: 
        'image name'
        'image profession'
        'image hr'
        'image description';
      grid-column-gap: 5vw;
      grid-row-gap: 1vw;

      h3 {
        grid-area: name;
      }

      .participant-image {
        grid-area: image;
        // background-color: cadetblue;
        object-fit: cover;
        height: 80px;
        min-width: 80px;
        max-width: 80px;
      }

      .profession {
        grid-area: profession;
        color: $orange;
        font-size: 11px;
      }

      hr {
        border: 1px solid gray;
        height: 0;
        grid-area: hr;
        width: 5vw;
      }

      .description {
        grid-area: description;
        font-size: 10px;
      }
      
    }
  }

  .more {
    width: 100%;
    height: 10vw;
    background-color: white;
    border: 1px solid gray;

    i {
      color: $orange;
    }
  }
}

.partners-section {
  display: none;
}

footer {
  display: none;
}

@media (min-width: 768px) {
  .nav-bar {
    display: block;
    font-family: $text-font-family;
    padding: 0;
    width: 100vw;
    font-size: 12px;

    .close-button {
      display: none;
    }

    .nav-mobile {
      display: none;
    }

    .nav-desktop {
      display: block;
      font-family: $text-font-family;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: auto;
      padding: 0;


      .small-logo {
        height: 50px;
        display: inline-block;
      }

      ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        width: 100%;

        li {
          a {
            text-decoration: none;
          }
        }
      }

      .upper-panel {
        background: linear-gradient(rgb(54, 54, 54), rgb(80, 80, 80));
        padding-right: 12vw;
        justify-content: flex-end;
        gap: 1.5vw;
        padding-top: 0.5vw;
        padding-bottom: 0.5vw;

        li {
          a {
            color: white;
          }
        }
        
      }

      .nav-panel {
        flex-direction: row;
        background-color: white;
        padding-right: 12vw;
        padding-left: 12vw;
        justify-content: space-between;
        align-items: center;

        li {
          img {
            display: inline-block;
            margin-right: 15vw;
          }

          a {
            color: black;
            font-size: 15px;
          }
        }

        li:nth-child(2) {
          a {
            color: $orange;
          }
        }

        li:last-child {
          min-width: 115px;
          a {
            border: 4px solid $orange;
            padding: 0.6vw;
            color: $orange;
          }
        }
      }
    }
  }

  .home-section {
    .home-section-content {
      padding: 12vw;
      padding-top: 14vw;
      .greeting {
        font-size: 50px;
      }
  
      h1 {
        font-size: 70px;
        line-height: 80px;
      }

      .description {
        width: 50vw;
        padding: 2vw;
        font-size: 15px;
      }

      .period {
        font-size: 35px;
      }

      .location {
        font-size: 23px;
      }
    }
  }
  
  .program-section {
    padding: 5vw;

    .program-title {
      gap: 1vw;

      h2 {
        font-size: $small-title-desktop-font-size;
      }
    }

    ul {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 4px;
      width: auto;

      li {
        flex-direction: column;
        width: 15vw;
        gap: 2px;
        padding: 15px;
        text-align: center;

        h3 {
          max-width: none;
          min-width: none;
          width: auto;
        }
      }
    }

    #join {
      display: none;
    }

    .see-whole {
      display: initial;
      color: rgb(202, 202, 202);
    }
  }

  .participants-section {
    padding: 5vw 15vw;
    gap: 5vw;

    .participants-title {
      gap: 1vw;

      h2 {
        font-size: $small-title-desktop-font-size;
      }
    }


    ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 4vw;
      column-gap: 1vw;

      li {
        column-gap: 2vw;
        .participant-image {
          height: 130px;
          min-width: 130px;
          max-width: 130px;
        }

        h3 {
          font-size: 22px;
        }

        .profession,
        .description {
          font-size: 15px;
        }
      }
    }

    .more {
      display: none;
    }
  }


  .partners-section {
    width: 100vw;
    padding: 4vw;
    font-family: $text-font-family;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vw;
    background-color: rgb(88, 88, 88);
  
  
    .partners-title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1vw;

      h2 {
        font-size: $small-title-desktop-font-size;
        color: white;
      }

      hr {
        border: 1px solid $orange;
        width: 50%;
      }
    }
  
    .logos {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      column-gap: 5%;
      row-gap: 20px;
      img {
        width: 10%;
        height:fit-content;
      }
    }
  }

  footer {
    padding: 5vw 12vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3vw;

    img {
      height: fit-content;
      width: 30%;
    }

    p {
      font-size: 13px;
    }
  }
}