@import url(//db.onlinewebfonts.com/c/d14035f6b1afeabafbee4abb2ebf0fc6?family=COCOGOOSE);
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lato&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

.nav-bar {
  position: absolute;
  padding: 3vw 5vw 5vw 5vw;
  left: 0;
  top: 0;
}

.home-section {
  background-image: url("../images/clouds.jpeg");
  background-repeat: repeat;
  background-position: 0 0;
  background-size: 100% auto;
  width: 100vw;
  height: auto;
}
.home-section .home-section-content {
  width: 100%;
  height: 100%;
  background-color: rgba(247, 247, 247, 0.822);
  padding: 22vw 5vw 15vw 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.home-section .home-section-content h1 {
  font-size: 28px;
  line-height: 35px;
  text-align: center;
  font-family: "COCOGOOSE", sans-serif;
}
.home-section .home-section-content h1,
.home-section .home-section-content .greeting {
  color: #ec5242;
}
.home-section .home-section-content p {
  font-family: "Lato", sans-serif;
  text-align: center;
}
.home-section .home-section-content .description {
  background-color: white;
  border: 1px solid #e4e4e4;
  padding: 4%;
  font-size: 13px;
}
.home-section .home-section-content .contact {
  font-size: 13px;
}
.home-section .home-section-content .contact a {
  color: black;
}

.logo-section {
  width: 100vw;
  padding: 10vw 5vw;
  font-family: "Lato", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7vw;
  border-bottom: 1px solid #e4e4e4;
}
.logo-section .logo-title {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vw;
}
.logo-section .logo-title hr {
  width: 10%;
  border-color: #ec5242;
}
.logo-section p {
  font-size: 13px;
  width: 87%;
}
.logo-section img {
  width: 100%;
  border: 1px solid #e4e4e4;
}

.past-events-section {
  width: 100vw;
  padding: 10vw;
  font-family: "Lato", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7vw;
}
.past-events-section .past-events-title {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vw;
  width: 90%;
}
.past-events-section .past-events-title hr {
  width: 10%;
  border-color: #ec5242;
}
.past-events-section #event-2013 {
  background-image: url("../images/past-event-1.jpeg");
}
.past-events-section #event-2011 {
  background-image: url("../images/past-event-2.jpeg");
}
.past-events-section .picture-past {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
  width: 100%;
  height: 170px;
  text-decoration: none;
  color: #fff;
}
.past-events-section .picture-past div {
  background-color: rgba(165, 42, 42, 0.692);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.past-events-section .picture-past div .event-year {
  font-size: 25px;
}
.past-events-section .picture-past div .event-description {
  font-size: 13px;
}

.partners-section {
  width: 100vw;
  padding: 10vw;
  font-family: "Lato", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7vw;
  background-color: #585858;
}
.partners-section .partners-title {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vw;
  width: auto;
  color: white;
}
.partners-section .partners-title hr {
  width: 10%;
  border-color: #ec5242;
}
.partners-section .partners-title hr {
  width: 40%;
}
.partners-section .logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 5%;
  row-gap: 20px;
}
.partners-section .logos img {
  width: 30%;
  height: fit-content;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5vw;
  font-family: "Lato", sans-serif;
}
footer img {
  width: 100%;
  align-self: center;
}
footer p {
  font-size: 10px;
  justify-self: center;
  align-self: center;
}

/*# sourceMappingURL=about.css.map */
