@import url(//db.onlinewebfonts.com/c/d14035f6b1afeabafbee4abb2ebf0fc6?family=COCOGOOSE);
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lato&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

body {
  overflow-x: hidden;
}

.nav-bar {
  z-index: 333;
  position: absolute;
  padding: 3vw 5vw 5vw 5vw;
  left: 0;
  top: 0;
}
.nav-bar .nav-desktop {
  display: none;
  font-family: "Lato", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 8vw;
  background-color: #272a31;
}
.nav-bar .nav-desktop ul {
  list-style-type: none;
}
.nav-bar .nav-desktop ul li a {
  text-decoration: none;
  color: white;
}
.nav-bar .nav-desktop .close-button {
  color: white;
  font-size: 40px;
}
.nav-bar .nav-desktop .upper-panel {
  display: flex;
  flex-wrap: wrap;
  gap: 3vw;
  justify-content: flex-end;
}
.nav-bar .nav-desktop .nav-panel {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.nav-bar .nav-desktop .nav-panel li img {
  display: none;
}
.nav-bar .nav-desktop .nav-panel li a {
  font-size: 35px;
}

.home-section {
  background: whitesmoke;
  width: 100vw;
  height: auto;
}
.home-section .large-circle {
  z-index: 1;
  position: absolute;
  left: 60%;
  top: 15%;
  width: 100px;
  height: 100px;
  background-image: url("../images/large-bg-cross.png");
  background-repeat: repeat;
  background-position: 0 0;
  background-size: 25% 25%;
  border-radius: 50%;
}
.home-section .red-circle {
  z-index: 1;
  position: absolute;
  left: 30%;
  top: 15%;
  width: 100px;
}
.home-section .silver-circle-1 {
  z-index: 1;
  position: absolute;
  left: 15%;
  top: 30%;
  width: 80px;
}
.home-section .silver-circle-2 {
  z-index: 1;
  position: absolute;
  left: 80%;
  top: 40%;
  width: 130px;
}
.home-section .home-section-content {
  width: 100%;
  height: 100%;
  background-color: rgba(247, 247, 247, 0.822);
  padding: 22vw 5vw 15vw 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.home-section .home-section-content h1 {
  z-index: 2;
  font-size: 28px;
  line-height: 35px;
  text-align: center;
  font-family: "COCOGOOSE", sans-serif;
}
.home-section .home-section-content hr {
  display: none;
}
.home-section .home-section-content h1,
.home-section .home-section-content .greeting {
  color: #ec5242;
}
.home-section .home-section-content p {
  font-family: "Lato", sans-serif;
  text-align: center;
}
.home-section .home-section-content .description {
  z-index: 2;
  background-color: white;
  border: 1px solid #e4e4e4;
  padding: 4%;
  font-size: 13px;
}
.home-section .home-section-content .description span {
  display: none;
}
.home-section .home-section-content .contact {
  font-size: 13px;
}
.home-section .home-section-content .contact a {
  color: black;
}

.logo-section {
  width: 100vw;
  padding: 10vw 5vw;
  font-family: "Lato", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7vw;
  border-bottom: 1px solid #e4e4e4;
}
.logo-section .logo-title {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vw;
}
.logo-section .logo-title hr {
  width: 10%;
  border-color: #ec5242;
}
.logo-section p {
  font-size: 13px;
  width: 87%;
}
.logo-section p span {
  display: none;
}
.logo-section img {
  width: 100%;
  border: 1px solid #e4e4e4;
}

.past-events-section {
  width: 100vw;
  padding: 10vw;
  font-family: "Lato", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7vw;
}
.past-events-section .past-events-title {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vw;
  width: 90%;
}
.past-events-section .past-events-title hr {
  width: 10%;
  border-color: #ec5242;
}
.past-events-section #event-2013 {
  background-image: url("../images/past-event-1.jpeg");
}
.past-events-section #event-2011 {
  background-image: url("../images/past-event-2.jpeg");
}
.past-events-section .picture-past {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
  width: 100%;
  height: 35vw;
  text-decoration: none;
  color: #fff;
}
.past-events-section .picture-past div {
  background-color: rgba(165, 42, 42, 0.692);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.past-events-section .picture-past div .event-year {
  font-size: 25px;
  font-weight: bold;
}
.past-events-section .picture-past div .event-description {
  font-size: 13px;
}

.partners-section {
  width: 100vw;
  padding: 10vw;
  font-family: "Lato", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7vw;
  background-color: #585858;
}
.partners-section .partners-title {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vw;
  width: auto;
  color: white;
}
.partners-section .partners-title hr {
  width: 10%;
  border-color: #ec5242;
}
.partners-section .partners-title hr {
  width: 40%;
}
.partners-section .logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 5%;
  row-gap: 20px;
}
.partners-section .logos img {
  width: 30%;
  height: fit-content;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5vw;
  font-family: "Lato", sans-serif;
}
footer img {
  width: 100%;
  align-self: center;
}
footer p {
  font-size: 10px;
  justify-self: center;
  align-self: center;
}
footer p span {
  display: none;
}

@media (min-width: 768px) {
  .nav-bar {
    display: block;
    font-family: "Lato", sans-serif;
    padding: 0;
    width: 100vw;
    font-size: 12px;
  }
  .nav-bar .close-button {
    display: none;
  }
  .nav-bar .nav-mobile {
    display: none;
  }
  .nav-bar .nav-desktop {
    display: block;
    font-family: "Lato", sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;
    padding: 0;
  }
  .nav-bar .nav-desktop .small-logo {
    height: 50px;
    display: inline-block;
  }
  .nav-bar .nav-desktop ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .nav-bar .nav-desktop ul li a {
    text-decoration: none;
  }
  .nav-bar .nav-desktop .upper-panel {
    background: linear-gradient(#363636, #505050);
    padding-right: 12vw;
    justify-content: flex-end;
    gap: 1.5vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
  }
  .nav-bar .nav-desktop .upper-panel li a {
    color: white;
  }
  .nav-bar .nav-desktop .nav-panel {
    flex-direction: row;
    background-color: white;
    padding-right: 12vw;
    padding-left: 12vw;
    justify-content: space-between;
    align-items: center;
  }
  .nav-bar .nav-desktop .nav-panel li img {
    display: inline-block;
    margin-right: 15vw;
  }
  .nav-bar .nav-desktop .nav-panel li a {
    color: black;
    font-size: 15px;
  }
  .nav-bar .nav-desktop .nav-panel li:nth-child(2) a {
    color: #ec5242;
  }
  .nav-bar .nav-desktop .nav-panel li:last-child {
    min-width: 115px;
  }
  .nav-bar .nav-desktop .nav-panel li:last-child a {
    border: 4px solid #ec5242;
    padding: 0.6vw;
    color: #ec5242;
  }

  .home-section .home-section-content {
    padding: 15vw 15vw 8vw 15vw;
    gap: 3vw;
  }
  .home-section .home-section-content h1 {
    font-size: 55px;
    line-height: 60px;
  }
  .home-section .home-section-content hr {
    display: block;
    border: 1px solid #ec5242;
    width: 2vw;
  }
  .home-section .home-section-content .greeting {
    display: none;
  }
  .home-section .home-section-content .description {
    padding: 2vw 4vw;
    font-size: 16px;
  }
  .home-section .home-section-content .description span {
    display: initial;
  }
  .home-section .home-section-content .contact {
    font-size: 16px;
  }
  .home-section .home-section-content .contact a {
    color: black;
    font-weight: bold;
  }

  .logo-section {
    padding: 5vw 10vw;
    gap: 4vw;
  }
  .logo-section .logo-title {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vw;
    gap: 1vw;
  }
  .logo-section .logo-title hr {
    width: 10%;
    border-color: #ec5242;
  }
  .logo-section .logo-title hr {
    width: 2vw;
  }
  .logo-section p {
    font-size: 16px;
    width: auto;
  }
  .logo-section p span {
    display: initial;
  }
  .logo-section img {
    width: 55%;
  }

  .past-events-section {
    padding: 5vw 20vw;
    row-gap: 4vw;
    column-gap: 1vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .past-events-section .past-events-title {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vw;
    width: auto;
    gap: 1vw;
  }
  .past-events-section .past-events-title hr {
    width: 10%;
    border-color: #ec5242;
  }
  .past-events-section .past-events-title hr {
    width: 2vw;
  }
  .past-events-section p {
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 16px;
  }
  .past-events-section .picture-past {
    height: 190px;
    text-decoration: none;
    color: #fff;
  }
  .past-events-section .picture-past div .event-year {
    font-size: 28px;
  }
  .past-events-section .picture-past div .event-description {
    font-size: 16px;
  }

  .partners-section {
    display: none;
  }

  footer {
    padding: 5vw 12vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3vw;
    background-color: #272a31;
  }
  footer img {
    height: fit-content;
    width: 30%;
  }
  footer p {
    font-size: 13px;
    color: white;
  }
  footer p span {
    display: initial;
  }
}

/*# sourceMappingURL=about.css.map */
