@import url(//db.onlinewebfonts.com/c/d14035f6b1afeabafbee4abb2ebf0fc6?family=COCOGOOSE);
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lato&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

body {
  overflow-x: hidden;
}

.nav-bar {
  z-index: 333;
  position: absolute;
  padding: 3vw 5vw 5vw 5vw;
  left: 0;
  top: 0;
}
.nav-bar .nav-desktop {
  display: none;
  font-family: "Lato", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 8vw;
  background-color: #272a31;
}
.nav-bar .nav-desktop ul {
  list-style-type: none;
}
.nav-bar .nav-desktop ul li a {
  text-decoration: none;
  color: white;
}
.nav-bar .nav-desktop .close-button {
  color: white;
  font-size: 40px;
}
.nav-bar .nav-desktop .upper-panel {
  display: flex;
  flex-wrap: wrap;
  gap: 3vw;
  justify-content: flex-end;
}
.nav-bar .nav-desktop .nav-panel {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.nav-bar .nav-desktop .nav-panel li img {
  display: none;
}
.nav-bar .nav-desktop .nav-panel li a {
  font-size: 35px;
}

.home-section {
  z-index: 1;
  position: relative;
  background-image: url("../images/clouds.jpeg");
  background-repeat: repeat;
  background-position: 0 0;
  background-size: 100% auto;
  width: 100vw;
  height: auto;
}
.home-section .large-circle {
  z-index: 3;
  position: absolute;
  left: 60%;
  top: 15%;
  width: 100px;
  height: 100px;
  background-image: url("../images/large-bg-cross.png");
  background-repeat: repeat;
  background-position: 0 0;
  background-size: 25% 25%;
  border-radius: 50%;
}
.home-section .zero {
  z-index: 2;
  position: absolute;
  right: 5%;
  top: 30%;
}
.home-section .money {
  z-index: 3;
  position: absolute;
  left: 5%;
  bottom: 35%;
  width: 60px;
}
.home-section .chess-plane {
  z-index: 3;
  position: absolute;
  right: 10%;
  top: 60%;
  width: 120px;
}
.home-section .cross {
  z-index: 3;
  position: absolute;
  right: 3%;
  top: 50%;
  width: 80px;
}
.home-section .home-section-content {
  width: 100%;
  height: 100%;
  background-color: rgba(247, 247, 247, 0.822);
  padding: 22vw 5vw 15vw 5vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
}
.home-section .home-section-content h1 {
  z-index: 4;
  font-size: 30px;
  line-height: 35px;
  background-image: url("../images/red-background-for-text.jpeg");
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.home-section .home-section-content h1,
.home-section .home-section-content .period {
  font-family: "COCOGOOSE", sans-serif;
}
.home-section .home-section-content .period {
  z-index: 4;
  font-size: 22px;
}
.home-section .home-section-content .greeting {
  z-index: 4;
  color: #ec5242;
}
.home-section .home-section-content p {
  font-family: "Lato", sans-serif;
}
.home-section .home-section-content .description {
  z-index: 4;
  background-color: #f1f1f1;
  border: 2px solid white;
  padding: 4%;
  font-size: 13px;
}
.home-section .home-section-content .location {
  z-index: 4;
  font-size: 14px;
}

.program-section {
  background-color: #272a31;
  display: flex;
  flex-direction: column;
  gap: 5vw;
  padding: 10vw 5vw;
  align-items: center;
}
.program-section .program-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vw;
}
.program-section .program-title h2 {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  color: white;
}
.program-section .program-title hr {
  border-color: #ec5242;
  width: 3vw;
}
.program-section ul {
  display: flex;
  flex-direction: column;
  gap: 5vw;
  width: 100%;
}
.program-section ul li {
  font-family: "Lato", sans-serif;
  display: flex;
  padding: 3vw;
  background-color: rgba(255, 255, 255, 0.123);
  gap: 2vw;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.program-section ul li .program-image {
  min-width: 50px;
  max-width: 50px;
  height: 50px;
}
.program-section ul li h3 {
  color: #ec5242;
  max-width: 20%;
  min-width: 20%;
}
.program-section ul li p {
  color: white;
  font-size: 13px;
}
.program-section #join {
  color: white;
  background-color: #ec5242;
  width: 65vw;
  height: 15vw;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  border-radius: none;
  border: none;
}
.program-section .see-whole {
  display: none;
}

.participants-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vw 5vw;
  gap: 10vw;
  font-family: "Lato", sans-serif;
}
.participants-section .participants-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vw;
}
.participants-section hr {
  border-color: #ec5242;
  width: 10%;
}
.participants-section ul {
  display: flex;
  flex-direction: column;
  gap: 5vw;
}
.participants-section ul li {
  display: grid;
  grid-template-areas: "image name" "image profession" "image hr" "image description";
  grid-column-gap: 5vw;
  grid-row-gap: 1vw;
}
.participants-section ul li h3 {
  grid-area: name;
}
.participants-section ul li .participant-image {
  grid-area: image;
  object-fit: cover;
  height: 80px;
  min-width: 80px;
  max-width: 80px;
}
.participants-section ul li .profession {
  grid-area: profession;
  color: #ec5242;
  font-size: 11px;
}
.participants-section ul li hr {
  border: 1px solid gray;
  height: 0;
  grid-area: hr;
  width: 5vw;
}
.participants-section ul li .description {
  grid-area: description;
  font-size: 10px;
}
.participants-section .more {
  width: 100%;
  height: 10vw;
  background-color: white;
  border: 1px solid gray;
}
.participants-section .more i {
  color: #ec5242;
}

.partners-section {
  display: none;
}

footer {
  display: none;
}

@media (min-width: 768px) {
  .nav-bar {
    display: block;
    font-family: "Lato", sans-serif;
    padding: 0;
    width: 100vw;
    font-size: 12px;
  }
  .nav-bar .close-button {
    display: none;
  }
  .nav-bar .nav-mobile {
    display: none;
  }
  .nav-bar .nav-desktop {
    display: block;
    font-family: "Lato", sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;
    padding: 0;
  }
  .nav-bar .nav-desktop .small-logo {
    height: 50px;
    display: inline-block;
  }
  .nav-bar .nav-desktop ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .nav-bar .nav-desktop ul li a {
    text-decoration: none;
  }
  .nav-bar .nav-desktop .upper-panel {
    background: linear-gradient(#363636, #505050);
    padding-right: 12vw;
    justify-content: flex-end;
    gap: 1.5vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
  }
  .nav-bar .nav-desktop .upper-panel li a {
    color: white;
  }
  .nav-bar .nav-desktop .nav-panel {
    flex-direction: row;
    background-color: white;
    padding-right: 12vw;
    padding-left: 12vw;
    justify-content: space-between;
    align-items: center;
  }
  .nav-bar .nav-desktop .nav-panel li img {
    display: inline-block;
    margin-right: 15vw;
  }
  .nav-bar .nav-desktop .nav-panel li a {
    color: black;
    font-size: 15px;
  }
  .nav-bar .nav-desktop .nav-panel li:nth-child(2) a {
    color: #ec5242;
  }
  .nav-bar .nav-desktop .nav-panel li:last-child {
    min-width: 115px;
  }
  .nav-bar .nav-desktop .nav-panel li:last-child a {
    border: 4px solid #ec5242;
    padding: 0.6vw;
    color: #ec5242;
  }

  .home-section .home-section-content {
    padding: 12vw;
    padding-top: 14vw;
  }
  .home-section .home-section-content .greeting {
    font-size: 50px;
  }
  .home-section .home-section-content h1 {
    font-size: 70px;
    line-height: 80px;
  }
  .home-section .home-section-content .description {
    width: 50vw;
    padding: 2vw;
    font-size: 15px;
  }
  .home-section .home-section-content .period {
    font-size: 35px;
  }
  .home-section .home-section-content .location {
    font-size: 23px;
  }

  .program-section {
    padding: 5vw;
  }
  .program-section .program-title {
    gap: 1vw;
  }
  .program-section .program-title h2 {
    font-size: 30px;
  }
  .program-section ul {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
    width: auto;
  }
  .program-section ul li {
    flex-direction: column;
    width: 15vw;
    gap: 2px;
    padding: 15px;
    text-align: center;
  }
  .program-section ul li h3 {
    max-width: none;
    min-width: none;
    width: auto;
  }
  .program-section #join {
    display: none;
  }
  .program-section .see-whole {
    display: initial;
    color: #cacaca;
  }

  .participants-section {
    padding: 5vw 15vw;
    gap: 5vw;
  }
  .participants-section .participants-title {
    gap: 1vw;
  }
  .participants-section .participants-title h2 {
    font-size: 30px;
  }
  .participants-section ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 4vw;
    column-gap: 1vw;
  }
  .participants-section ul li {
    column-gap: 2vw;
  }
  .participants-section ul li .participant-image {
    height: 130px;
    min-width: 130px;
    max-width: 130px;
  }
  .participants-section ul li h3 {
    font-size: 22px;
  }
  .participants-section ul li .profession,
.participants-section ul li .description {
    font-size: 15px;
  }
  .participants-section .more {
    display: none;
  }

  .partners-section {
    width: 100vw;
    padding: 4vw;
    font-family: "Lato", sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vw;
    background-color: #585858;
  }
  .partners-section .partners-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vw;
  }
  .partners-section .partners-title h2 {
    font-size: 30px;
    color: white;
  }
  .partners-section .partners-title hr {
    border: 1px solid #ec5242;
    width: 50%;
  }
  .partners-section .logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 5%;
    row-gap: 20px;
  }
  .partners-section .logos img {
    width: 10%;
    height: fit-content;
  }

  footer {
    padding: 5vw 12vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3vw;
  }
  footer img {
    height: fit-content;
    width: 30%;
  }
  footer p {
    font-size: 13px;
  }
}

/*# sourceMappingURL=index.css.map */
